@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

html, body {
    height: 100%;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.brand-logo {
  margin-left: 10px;
}

.landing {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    /*top: 20%;*/
    left: 0;
    width: 100%;
    height: 100%; /*400px*/
    /*margin-top: -200px;*/
    overflow-x: hidden;
    overflow-y: auto;
}

.admin-container {
  background-color: rgb(102, 205, 170);
  color: white;
  overflow-y: scroll;
  margin-top: 20px;
}

.admin-container div {
  padding-bottom: 10px;
  text-align: center;
}

.admin-container div a {
  text-decoration: none;
  font-size: 22px;
  padding-left: 5px;
  vertical-align: top;
}

.admin-container div a:hover {
  text-decoration: none;
}
.admin-container h1 {
  margin: 0;
  display: inline-block;
}

.admin-container p {
  font-size: 22px;
}

.admin-container a {
  color: white;
  font-size: 16px;
}

.queueTable th {
  font-size: 22px;
  text-align: center;
}

.queueTable td {
  padding: 10px;
  font-size: 18px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    color: white;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    font-weight: 200;
}

.container p {
    font-size: 10px;
    color: white;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    font-weight: 200;
}

.g-recaptcha {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    width: 304px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}

.bg-bubbles {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin: 0px;
    pointer-events: none;
    overflow: hidden;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    /*background-color: rgba(255, 255, 255, 0.15);*/
    bottom: 0px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    opacity: 0.5;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    /*background-color: rgba(255, 255, 255, 0.25);*/
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    /*background-color: rgba(255, 255, 255, 0.3);*/
}

.bg-bubbles li:nth-child(10) {
    left: 80%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

.bg-bubbles img {
    width: 100%;
    height: 100%;
}

/* Tablet view fix */
@media (max-width: 768px){
    body{
        height: auto !important;
    }
    .bg-bubbles li:nth-child(10) {
        display: none;
    }
    #song-media{
        margin-left: 0 !important;
    }
    #song-info{
        margin: 15px auto;
        width: 200px;
    }
    #settings{
        margin: 0 auto !important;
        margin-bottom: 10px !important;
    }
    #voting{
        margin: 0 auto !important;
        width: 300px !important;
        margin-bottom: 100px !important;
    }
    #side-panel{
        display: none;
    }
}
/**/

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fa-github {
    margin-top: 3px;
}

#github-login {
    background-color: #999;
    margin-bottom: 100px;
}

.btn-social {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    border-radius: 3px;
    width: 304px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

footer {
    text-align: center;
    width: 100%;
    height: 75px;
    margin-top: 75px;
    color: white;
    padding-top: 5px;
}

.push {
    height: 75px; /* .push must be the same height as .footer */
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

footer p {
    margin: 0 !important;
}

footer .fa {
    font-size: 2em;
}

.button-nowidth {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.button-nowidth:hover {
    background-color: #f5f7f9;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 304px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.button:hover {
    background-color: #f5f7f9;
}

.station {
    background-color: rgba(102, 205, 170, 0.7);
    height: 300px;
    width: 300px;
    border-radius: 100%;
    text-align: center;
    color: white;
    font-family: Sans-serif;
    /*float: left;*/
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.station > h3 {
    line-height: 0px;
    font-size: 42px;
    margin-bottom: 90px;
}

.station > h5 {
    margin-top: -40px;
    font-size: 15px;
}

.room-name {
    font-size: 3.5em;
    color: white;
    font-weight: 600;
    text-align: center;
}

.room-title {
    font-size: 2.5em;
    color: white;
    font-weight: 600;
}

.room-artist {
    font-size: 1.5em;
    color: white;
}

#seeker-bar {
    background-color: black;
    width: 0;
    height: 10px;
    clear: both;
    background-color: rgba(16, 140, 146, 0.8);
}

.song-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 304px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 1em auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}

#chat-input, #global-chat-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid white;
    background-color: transparent;
    width: 100%;
    height: 70px;
    padding: 5px;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
    color: #1C39B2;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
    resize: none;
}

.song-input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 304px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 1em auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}

.song-input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.song-input:focus {
    background-color: rgba(255, 255, 255, 0.4);
}

.song-input-select:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.song-input-select > option {
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.song-input:focus {
    width: 354px;
    color: white;
}

#search-song {
    display: block;
    margin: 0 auto;
}

#song-results, #youtube-import-queue {
    margin: 0 auto;
    color: white;
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
}

.youtube-import-queue-item {
    position: relative !important;
}

#song-results > div {
    margin: 0;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid white;
    transition: background-color 300ms linear;
    transition: color 300ms linear;
}

#song-results > div:last-child {
    border-bottom: 0;
}

#song-results > div:hover {
    color: #0e90d2;
    background-color: rgba(255, 255, 255, 0.5);

    cursor: pointer;
}

.song-result-thumbnail {
    width: 224px;
    height: 126px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    display: block;
}

.song-result-title {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 1.4em;
}

.song-result-channel {
    margin-left: 20px;
    margin-top: 5px;
    display: block;
    box-sizing: border-box;
    font-size: 0.9em;
}

#player {
    z-index: 10;
}

.hidden {
    visibility: hidden;
}
.hidden-2 {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
}
.footerButtons {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

.footerButtons:hover {
    background-color: #f5f7f9;
}

.song-img {
    width: 210px;
    height: 210px;
}

#seeker-container {
    width: calc(100% - 70px);
    margin-left: 30px;
    margin-right: 35px;
    overflow: hidden;
}

.pl-container {
    color: #53e3a6;
    background-color: white;
    border-radius: 3px;
    font-size: 18px;
}

.pl-container h4 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

#spinner {
    font-size: 200px;
    color: bisque;
}

#spinner-container {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 10%;
}

#croom_container, #calert_container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 304px !important;
}

.croom_label, .calert_label {
    color: white;
}

.croom, .calert {
    width: 304px !important;
}

#calert-priority > option {
    color: black;
}

#spinner {
    font-size: 200px;
    color: bisque;
}

#spinner-container {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 10%;
}

.modal-content {
    background-color: rgb(107, 197, 164);
    color: white;
}

.song-input-label {
    width: 100%;
    text-align: center;
}

.station_link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
}

ul#playlist{
    margin-top: 50px;
    padding-left: 5px;
}

#playlist {
    margin: 0;
    color: white;
    font-size: 21px;
    max-height: 100%;
    height: 100%;
    /*overflow: auto;*/
}

#playlist-ul {
    margin: 0;
    color: white;
    font-size: 21px;
    max-height: calc(100% - 48px);
    height: calc(100% - 48px);
    overflow: auto;
    padding-left: 5px;
}


#s2 {
    opacity: 0.66666666666666;
}

#s3 {
    opacity: 0.33333333333333;
}

#add-song-button, #get-spotify-info, #save-song-button, #report-song-button {
    display: block;
    margin: 0 auto;
}

.alert {
    text-align: center;
}

@media (max-width: 992px) {
    /* some think */
    #s3 {
        visibility: hidden;
        height: 0;
    }
}

@media (max-width: 768px) {
    /* some think */
    #s2 {
        visibility: hidden;
        height: 0;
    }
}

.column-small {
    width: 1px;
}

#return {
    display: block;
    margin: 0 auto 20px auto;
}

#song-media {
    margin-left: 10px;
    min-height: 460px;
}

#station-main {
    margin: 0;
    padding: 0;
}

#station-main nav {
    height: 50px;
    color: white;
}

/*Navbar HAMBURGUR*/
.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: transparent;
}

.navbar-default .navbar-toggle{
    background-color: transparent;
}

nav form{
    height: 0;
}

nav form input[type="image"]{
    width: 100px;
    background-color: transparent !important;
    border: none !important;
    margin-top: -15px;
}

#station-main nav i {
    margin-left: 1em;
    font-size: 2em;
}

#station-main nav h3 {
    display: inline-block;
    margin: 10px auto;
    margin-left: 50%;
    font-size: 2em;
}

#side-panel {
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(255, 255, 255, 0.4);
}

.embed-responsive {
    margin-top: 15px;
}

#header {
    margin-bottom: 0px;
}

.user-stat {
    font-size: 20px;
    color: #53e3a6;
}

#profile-name {
    font-size: 60px;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.admin-queue-panel:first-child {
    margin-top: 20px;
}

#songs {
    margin-top: -200px;
    margin-bottom: 20px;
}

.back {
    color: white;
}

.back:hover {
    color: white;
}

#volume-container {
    width: 172px; /*12.5 px each side*/
    float: right;
    height: 100%;
}

#volume-container > .slider {
    top: 40%;
    transform: translateY(-40%);
    padding-right: 12px;
    padding-left: 12px;
    margin-left: 12px;
    float: left;
}

#volume-container-admin {
    display: inline-block;
    width: 174px;
    margin-left: 10px;
}

#volume-container-admin > .slider {
    width: 150px !important;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 12px;
}

#volume-icon {
    /*margin-left: 320px !important;*/
    margin: 0 !important;
    float: left;
    margin-top: 7px !important;
    width: 12px;
}

#settings {
    margin-top: 10px;
    margin-left: 10px;
}

#voting {
    margin-top: 10px;
    margin-left: 10px;
}

#loginregistercontainer {
    margin-bottom: 100px;
}

.admin-header {
    color: white;
}

.admin-panel-body {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.terms, .privacy, .about {
  color: white;
}
.about a{
    color: white;
}
#play, #pause, #skip, #shuffle, #sync, #unlock, #lock {
    cursor: pointer;
}
.delete-room {
    display: inline-block;
    cursor: pointer;
}
.delete-room:hover {
    color: red;
}
.panel-title {
    display: inline-block;
}
.report-layer-1 {
    margin-left: 19%;
}
.report-layer-2 {
    margin-left: 80px;
}
.other-textarea {
    outline: 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 304px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 5px -285.578px 10px 0px;
    display: block;
    text-align: left;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.2);
    resize: vertical;
}
#room-header {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
#room-icons {
    margin-top: 11px;
    float: left;
}
#time-display {
    color: white;
}
.action-button {
    float: left;
    width: 100%;
}
.chat-message {
    font-size: 20px;
    color: white;
}
.chat-message:first-child {
    margin-top: 30px;
}
#chat-ul, #global-chat-ul {
    margin: 0;
    padding: 0 15px 0 15px;
    padding-bottom: 20px;
    word-break: normal;
    word-wrap: break-word;
    height: 82%;
    overflow-y: scroll;
}
.chat-message:nth-child(even) {
   color: white;
}
.chat-message:nth-child(odd) {
    color: darkblue;
}
#submit, #global-submit {
    margin-bottom: 10px;
    cursor: pointer;
}
#submit button, #global-submit button{
    width: 100%;
    font-size: 1.5em;
}
#submit i, #global-submit i{
    margin-left: 10px;
}
#chat-input-div, #global-chat-input-div {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.rank-admin {
    color: crimson;
    font-size: 20px;
    font-weight: bold;
}
.rank-mod, .rank-moderator {
    color: darkgoldenrod;
    font-size: 20px;
    font-weight: bold;
}
.rank-default {
    font-size: 0px;
}
.row {
    margin: 0;
}
.sidebar-content {
    height: calc(100% - 42px);
}
#chat, #global-chat {
    height:100%;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: transparent;
    color:#ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color:#ffffff;
}
#doorbell-button{
    margin-right: 30em;
}
#doorbell-email {
    text-align: left;
}
#search-playlist{
    outline: 0;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    background-color: #50a3a2;
    width: 100%;
    padding: 10px 15px;
    margin: 0 auto 0 auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
}
.nav-tabs li a{
    color: white;
}

.navbar-overflow-y-hidden {
    overflow-y: hidden;
}

/* https://css-tricks.com/custom-scrollbars-in-webkit/ */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

.contact-name {
    float: left;
}

.contact-img {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.contact-ul {
    clear: left;
}

.contact-option {
    font-size: 22px;
}

#contact-container {
    margin-top: 30px;
    margin-bottom: 200px;
}

.contact-icon {
    margin-right: 10px;
    width: 28px;
    height: 28px;
    font-size: 28px !important;
}
.contact-pos {
    padding-top: -10px;
    margin-top: 70px;
}
.settings-label {
    color: #50a3a2;
    line-height: 18px;
}
.faq-small {
    color: white;
}
.questions {
    color: white;
    font-size: 100;
}
.answers {
    color: white;
    font-size: 50;
}
#header-dropdown {
    top: 100% !important;
    height: auto;
    padding: 5px 0;
    margin: 2px 0 0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    overflow: inherit;
    font-size: 14px;
    letter-spacing: inherit;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #51BCA3;
}

#header-dropdown li:hover {
    background-color: #3A8876;
}
#ban-icon {
    font-size: 20em;
    text-align: center;
    width: 100%;
    z-index: 3;
}
#banned-container {
    color: white;
}
.social-link{
    margin-right: 5px;
}
@media (max-width: 991px){
    .contact-img{
        float: none;
        margin-bottom: 0;
    }
}
.header-avatar {
    margin-top: -9px;
    /*width: 40px;
    height: 40px;*/
    margin-right: 5px;
    float: left;
}
.profile-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.profile-img .avatar-initials{
    line-height: 100px !important;
}
#doorbell-email{
    color: black;
}
.song-panel{
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.song-panel-room{
    float: right;
}
/*Credit to: http://thecodeplayer.com/walkthrough/custom-animated-checkbox-inputs-using-css-iconfonts*/
#two-label {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    color: white;
    padding-top: 3px;
}
#two-label:before, #two-label:after {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute; top: 0; left: 0;
}
#two-label:before {
    content: '\f096'; /*unchecked*/
}
#two-label:after {
    content: '\f046'; /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
}

/*hiding the original checkboxes*/
input[type="checkbox"] {
    display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
input[type="checkbox"]:checked + #two-label:after {
    max-width: 25px; /*an arbitratry number more than the icon's width*/
    opacity: 1; /*for fade in effect*/
}
#two+label:before, #two+label:after {color: hsl(180, 45%, 40%);}
/*End of checkbox awesomeness!*/

#chat-tab, #global-chat-tab {
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.unread-messages {
    background-color: orange;
}

.profile-action{
    float: right;
}

#submit-name{
    margin-left: 10px;
}

#submit-username{
    margin-left: 10px;
}

.settings-option{
    margin: 5px 0;
    font-size: 1.2em;
}

.settings-input {
    margin-bottom: 10px;
}

.disabled {
    cursor: not-allowed;
    opacity: 1;
    background-color: rgba(235, 235, 228, 0.5) !important;
}

#youtube-playlist-button {
    background-color: rgba(220, 25, 43, 1);
    margin-right: auto;
    margin-left: auto;
    color: rgba(253, 253, 254, 1);
    display: block;
}

.remove-import-song {
    position: absolute;
    right: 0px;
    top: 0px;
}

.remove-import-song:hover {
    color: #0e90d2;
    cursor: pointer;
}

#current-arrow {
    color: #0e90d2;
}
#import-progress-container {
    width: 304px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    color: #50a3a2;
}

#add-youtube-playlist {
    background-color: green;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-content i{
    line-height: inherit;
    float: left;
}

.card-image img{
    opacity: 1;
    transition: 0.3s;
}

.card-image img:hover{
    opacity: 0.5;
}

.user-num{
    font-size: 1.5em;
}
