<template name="404">
    <div class="row">
        <div class="col l8 s8 m8 offset-l2 offset-m2 offset-s2 teal-text">
            <i class="material-icons center red-text" style="font-size: 20em; width: 100%;">remove_circle</i>
            <div class="divider"></div>
            <h1 class="center-align">404</h1>
            <h3 class="center-align">It seems like you ended up in the wrong place.</h3>
            <a class="btn btn-block" href="/">Take me back!</a>
        </div>
    </div>
</template>