<template name="banned">
    {{> alerts}}

    <div class="row">
        <div class="col-md-4 col-md-offset-4 teal-text" id="banned-container">
            <i class="material-icons center red-text" style="font-size: 20em; width: 100%;">remove_circle</i>
            <div class="divider"></div>
            <h3 class="text text-center"><b>You were banned by</b> {{bannedBy}} <span title="{{bannedAt}}">{{rtime bannedAt}}</span>.</h3>
            <h3 class="text text-center"><b>You will be unbanned</b> <span title="{{bannedAt}}">{{rtime bannedUntil}}</span>.</h3>
            <h3 class="text text-center"><b>Reason:</b> {{bannedReason}}</h3>
        </div>
    </div>
</template>
