<template name="bubbles">
    <ul class="bg-bubbles">
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
        <li><img src="/Snowflake 2.png"/></li>
    </ul>
</template>