<template name="bubbles">
    <ul class="bg-bubbles">
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
        <li><img src="/Snowflake.png"/></li>
    </ul>
</template>