<template name="contact">
    {{> alerts}}
    <div class="landing">
        {{> header}}
        <div class="row" id="contact-container">
            <div class="about col-md-8 col-md-offset-2 contact-box" itemscope itemtype="https://schema.org/Person">
                <!-- Akira -->
                <img height="100px" width="100px" class="img-circle contact-img" src="https://avatars0.githubusercontent.com/u/11958359?v=3&s=460" itemprop="image"/>
                <h2 class="contact-name" itemprop="name">Akira Laine</h2>
                <h3 class="contact-pos">Co Founder, Lead Developer & Whovian</h3>
                <ul class="contact-ul">
                    <li class="contact-option place-contact"><i class="fa fa-2x fa-map-marker contact-icon"></i> <span itemprop="address">Noumea, New Caledonia</span></li>
                    <li class="contact-option email-contact"><i class="fa fa-2x fa-envelope contact-icon"></i> <span itemprop="email">Akira_Laine@outlook.com</span></li>
                </ul>
            </div>
            <hr class="col-md-8 col-md-offset-2"/>
            <div class="about col-md-8 col-md-offset-2 contact-box" itemscope itemtype="https://schema.org/Person">
                <!-- Kris -->
                <img height="100px" width="100px" class="img-circle contact-img" src="https://avatars2.githubusercontent.com/u/9784561?v=3&s=460" itemprop="image"/>
                <h2 class="contact-name" itemprop="name">Kristian Vos</h2>
                <h3 class="contact-pos">Co Founder, Lead Developer & Fox</h3>
                <ul class="contact-ul">
                    <li class="contact-option place-contact"><i class="fa fa-2x fa-map-marker contact-icon"></i> <span itemprop="address">Haarlem, The Netherlands</span></li>
                    <li class="contact-option email-contact"><i class="fa fa-2x fa-envelope contact-icon"></i> <span itemprop="email">KrisVos130@gmail.com</span></li>
                    <li class="contact-option twitter-contact"><i class="fa fa-2x fa-twitter contact-icon"></i> <a href="https://twitter.com/KrisVos130">KrisVos130</a></li>
                    <li class="contact-option facebook-contact"><i class="fa fa-2x fa-facebook contact-icon"></i> <a href="https://facebook.com/KrisVos.YT">KrisVos.YT</a></li>
                </ul>
            </div>
            <hr class="col-md-8 col-md-offset-2"/>
            <div class="about col-md-8 col-md-offset-2 contact-box" itemscope itemtype="https://schema.org/Person">
                <!-- Johand -->
                <img height="100px" width="100px" class="img-circle contact-img" src="https://avatars2.githubusercontent.com/u/6952369?v=3&s=460" itemprop="image"/>
                <h2 class="contact-name" itemprop="name">Johannes Andersen</h2>
                <h3 class="contact-pos">Co Founder, Lead Developer & Marketing Mangager</h3>
                <ul class="contact-ul">
                    <li class="contact-option place-contact"><i class="fa fa-2x fa-map-marker contact-icon"></i> <span itemprop="address">Fredrikstad, Norway</span></li>
                    <li class="contact-option email-contact"><i class="fa fa-2x fa-envelope contact-icon"></i> <span itemprop="email">Johand@johand.me</span></li>
                    <li class="contact-option twitter-contact"><i class="fa fa-2x fa-twitter contact-icon"></i> <a href="https://twitter.com/johand199">Johand199</a></li>
                </ul>
            </div>
            <hr class="col-md-8 col-md-offset-2"/>
            <div class="about col-md-8 col-md-offset-2 contact-box" itemscope itemtype="https://schema.org/Person">
                <!-- Wesley -->
                <img height="100px" width="100px" class="img-circle contact-img" src="https://avatars0.githubusercontent.com/u/1158013?v=3&s=460" itemprop="image"/>
                <h2 class="contact-name" itemprop="name">Wesley McCann</h2>
                <h3 class="contact-pos">Web Developer</h3>
                <ul class="contact-ul">
                    <li class="contact-option place-contact"><i class="fa fa-2x fa-map-marker contact-icon"></i> <span itemprop="address">USA</span></li>
                </ul>
            </div>
        </div>
    </div>
</template>