<template name="donate">
    {{> header}}
    <div class="container">
        <div class="row">
            <h1 class="center-align
            ">Why to donate?</h1>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text text-accent-4"><i class="material-icons">grade</i></h2>
                    <h5 class="center">Curabitur vitae malesuada quam</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim ex orci, at viverra justo volutpat non. Nunc eu sapien fermentum, ullamcorper est at, porta enim. Vivamus vehicula dolor sodales purus volutpat, sed suscipit libero condimentum. Suspendisse potenti. Maecenas vestibulum diam ex, vel semper ante varius sit amet. Integer sit amet imperdiet dolor. Quisque sed sagittis dolor. Morbi bibendum hendrerit velit, a ultrices mauris volutpat in. Nam porta, risus ut molestie cursus, neque ipsum hendrerit sapien, id rutrum odio ex molestie mauris. Nullam eleifend tempor dictum. Donec et commodo nisl, non tincidunt odio. Nunc aliquam sollicitudin urna, non dignissim felis interdum id. Pellentesque facilisis sagittis diam, in convallis lectus euismod at.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text text-accent-4"><i class="material-icons">grade</i></h2>
                    <h5 class="center">Curabitur vitae malesuada quam</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim ex orci, at viverra justo volutpat non. Nunc eu sapien fermentum, ullamcorper est at, porta enim. Vivamus vehicula dolor sodales purus volutpat, sed suscipit libero condimentum. Suspendisse potenti. Maecenas vestibulum diam ex, vel semper ante varius sit amet. Integer sit amet imperdiet dolor. Quisque sed sagittis dolor. Morbi bibendum hendrerit velit, a ultrices mauris volutpat in. Nam porta, risus ut molestie cursus, neque ipsum hendrerit sapien, id rutrum odio ex molestie mauris. Nullam eleifend tempor dictum. Donec et commodo nisl, non tincidunt odio. Nunc aliquam sollicitudin urna, non dignissim felis interdum id. Pellentesque facilisis sagittis diam, in convallis lectus euismod at.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text text-accent-4"><i class="material-icons">grade</i></h2>
                    <h5 class="center">Curabitur vitae malesuada quam</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim ex orci, at viverra justo volutpat non. Nunc eu sapien fermentum, ullamcorper est at, porta enim. Vivamus vehicula dolor sodales purus volutpat, sed suscipit libero condimentum. Suspendisse potenti. Maecenas vestibulum diam ex, vel semper ante varius sit amet. Integer sit amet imperdiet dolor. Quisque sed sagittis dolor. Morbi bibendum hendrerit velit, a ultrices mauris volutpat in. Nam porta, risus ut molestie cursus, neque ipsum hendrerit sapien, id rutrum odio ex molestie mauris. Nullam eleifend tempor dictum. Donec et commodo nisl, non tincidunt odio. Nunc aliquam sollicitudin urna, non dignissim felis interdum id. Pellentesque facilisis sagittis diam, in convallis lectus euismod at.</p>
                </div>
            </div>
        </div>
        <br />
        <div class="row center">
            <a href="#stripeModal" class="btn-large waves-effect waves-light teal accent-4">I want to Donate!</a>
            <p>By donating to musare.com you agree to the <a href="/terms">TERMS OF SERVICE</a> and <a href="/privacy">PRIVACY POLICY!</a> (Make sure you read it!)</p>
        </div>
    </div>
    {{> footer}}

    <div id="stripeModal" class="modal">

    </div>
    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
        });
    </script>
</template>