<template name="faq">
    {{> alerts}}
    <div class="landing">
	    {{> header}}
        <div class="row">
            <div class="about col-md-8 col-md-offset-2">
                <h1>FAQ <small class="faq-small">Frequently Asked Questions</small></h1>
                <hr />
                <h1 class="questions">How do I add a song?</h1>
                <h2 class="answers">Yes,</h2>
                <hr />
                <h1 class="questions">Can I skip a song?</h1>
                <h2 class="answers">Yes, and no. You can vote on skipping a song. You can click the blue skip button. when the counter hits 3, the song will be skipped. Admins and mods can skip songs without needing to vote, please do not ask us to skip songs!</h2>
                <hr />
                <h1 class="questions">I added a song but I can't find it in the Playlist</h1>
                <h2 class="answers">When you have requested a song to the be added, a admin or mod need to accept or deny the request.</h2>
                <hr />
                <h1 class="questions">How do I get the emoji things in chat?</h1>
                <h2 class="answers">You can find a full list at <a href="http://emoji.codes/" target="_blank">www.emoji.codes</a></h2>
                <hr />
                <h1 class="questions">Is there an API?</h1>
                <h2 class="answers">No, sorry. But we will add one soon!</h2>
                <hr />
                <h1 class="questions">Chat commands?</h1>
                <h2 class="answers">Just type /commands or /help in chat!</h2>
            </div>
        </div>
    </div>
</template>
