<template name="faq">
    {{> header}}
    <div class="container">
            <h3>FAQ <small class="thin">Frequently Asked Questions</small></h3>
            <hr/>
            <ul class="collapsible popout" data-collapsible="accordion">
                <h5>Account Access & Login</h5>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">help</i>How do I log in or sign up?</div>
                    <div class="collapsible-body">
                        <p><b>Log in:</b>
                        <br />
                        You can choose to log in on Musare by going to <a href="https://musare.com/login">musare.com/login</a>
                        <br />
                        <b>Sign up:</b>
                        <br />
                        If you do not have an account, simply go directly to <a href="https://musare.com/register">musare.com/register</a>, fill out the form, then click Sign Up
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>What happens to my old username if I change it?</div>
                    <div class="collapsible-body"><p>When you change your username, your old username will be available for someone else to use.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>I cannot access my account and/or I don’t remember my password. How do I regain access to my account?</div>
                    <div class="collapsible-body"><p>If you can't access your account, please send an email to <a href="mailto:musaremusic@gmail.com">musaremusic@gmail.com</a> asking for support.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>How do I change my password?</div>
                    <div class="collapsible-body"><p>Go to the <a href="/settings">settings</a> page. You will be able to reset your password there.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>What are the username requirements?</div>
                    <div class="collapsible-body"><p>Your username should contain between 3 and 26 characters. Your username can only contain letters (a-z), numbers (0-9) and underscore's (_). Your username should be appropriate. Please don't use any offensive, racist or homophobic username.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>Can I change my username?</div>
                    <div class="collapsible-body"><p>Right now you can not change your username, but soon you will be able to.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>How can I deactivate my account?</div>
                    <div class="collapsible-body"><p>You currently cannot deactivate your account, but you can however delete your account. You can delete your account by clicking the red delete button on the settings page.</p></div>
                </li>
                <h5>Chat</h5>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>Why do some people have Badges?</div>
                    <div class="collapsible-body"><p>Badges are a way to show you what rank that user is. [A], is for admin, [M] is for moderator.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>How can I add emoji's into my chat messages?</div>
                    <div class="collapsible-body"><p>You can add emoji's in chat by typing the ":" character in chat. After this, you can type keywords and it will show you the most relevant emoji's. You can then click on them or use the arow keys and enter to select one of those emoji's.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>What are chat mentions? How can I mention someone?</div>
                    <div class="collapsible-body"><p>Mentions are a way to notify someone in chat. You can mention someone by typing "@" and then their username.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>How do I access the chat?</div>
                    <div class="collapsible-body"><p>You can access chat by pressing the chat button on a station page. A chat tab will then slide out.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>Are there chat commands?</div>
                    <div class="collapsible-body"><p>Yes! Just put /commands or /help in chat and it will show you all of the available chat commands.</p></div>
                </li>
                <h5>The people on Musare</h5>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>Who are the Musare staff?</div>
                    <div class="collapsible-body"><p>You can check out the Musare staff on <a href="https://musare.com/team">our team page</a>.</p></div>
                </li><li>
                    <div class="collapsible-header"><i class="material-icons">help</i>How do I become a staff member?</div>
                    <div class="collapsible-body"><p>We are currently not reviewing any staff applications. If you are an active contributor to Musare, we might consider some people as staff members. This is not a guarantee.</p></div>
                </li>
                <h5>Profile</h5>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>What are Profile Pages?</div>
                    <div class="collapsible-body"><p>Profile pages are pages that differ per person. Profile pages show users' info, like their username, rank, name, when they first joined and if set to public, you can view their liked and disliked songs.</p></div>
                </li><li>
                    <div class="collapsible-header"><i class="material-icons">help</i>How can I edit my profile?</div>
                    <div class="collapsible-body"><p>You can edit if you want people to see your liked/disliked songs on your profile on the settings page.</p></div>
                </li>
                <h5>Playlist</h5>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>Can I create private rooms/stations??</div>
                    <div class="collapsible-body"><p>Currently, you can't. We would really like to do this, as it's on the top of our wish list, but we do not have the resources to host private rooms. We are a small website that doesn't make any money, so just paying for the host right now is already difficult enough.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>Can I skip a song from the playlist?</div>
                    <div class="collapsible-body"><p>Yes, and no. You can vote on skipping a song by clicking on the 'vote to skip' button on the top bar on a station page. When the counter hits 3, the song will be skipped. Admins and moderators can skip songs without needing to vote, but please do not ask us to skip songs.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>I added a song but I can't find it in the Playlist, where is it?</div>
                    <div class="collapsible-body"><p>When you request a song to be added, an admin or moderator first needs to review, edit and then either accept or deny that song before you will be able to see that song.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>How can I add a song?</div>
                    <div class="collapsible-body"><p>You can add a song if you are logged in, by clicking on the Add Song button under the video in the station you want to add your song in. That will open up a modal where you can search search for a song by putting a search query there or by putting a link in there and clicking the Search Song button. You can then edit some more information, like the artist and title. It's helpful for us if you fill those in so we don't have to research every song, but you are not required to. You can also import playlists from YouTube.</p></div>
                </li>
                <h5>Technical</h5>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>Why is the song info wrong?</div>
                    <div class="collapsible-body"><p>We are also humans so we sometimes make mistakes. Iif you see that the song info is wrong for a song, we would appreciate if you could report that song so we can fix it.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>The site wont load</div>
                    <div class="collapsible-body"><p>If the site doesn't load, there could be multiple things causing it. Either it's on our end, when we make an update that breaks the site. It could be on the host's side, or it could be on your side. Please check if it's on your side first. If it isn't, please send an email to <a href="mailto:musaremusic@gmail.com">musaremusic@gmail.com</a> to ask for support.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>I found a bug/I got an idea for the site!</div>
                    <div class="collapsible-body"><p>That's awesome! We always seek to improve Musare. If you have a pesky bug or an awesome idea, please get in touch. You can do so by filling out the form in the 'Contact Us' section of the footer on the homepage, or sending an email to <a href="mailto:musaremusic@gmail.com">musaremusic@gmail.com</a>.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>I do not need the video playing, can I turn it off?</div>
                    <div class="collapsible-body"><p>Unfortunately, this is against YouTube's Terms of Service so this isn't allowed. You can let Musare play in the background but we can't hide the video on a page.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>Is there an API?</div>
                    <div class="collapsible-body"><p>No, sorry. But we will add one soon™!</p></div>
                </li>
            </ul>
        </div>
    {{> footer}}
    <script>
        $(document).ready(function(){
        $('.collapsible').collapsible({
            accordion : true
        });
    });
    </script>
</template>
