<template name="faq">
    {{> header}}
    <div class="text-center">
        <h3>FAQ
            <small class="thin">Frequently Asked Questions</small>
        </h3>
        <hr/>
        <h4>How can I add a song?</h4>
        <p class="flow-text">You can add a song if you are logged in, by clicking on the Add Song button under the
            video in
            the station you want to add your song in. That will open up a modal where you can search search for a song by putting a search query there or by putting a link in there and clicking the Search Song button. You can then
            edit
            some more information, like the artist and title. It's helpful for us if you fill those in so we don't
            have to
            research every song, but you are not required to. You can also import playlists from YouTube.</p>
        <h4>Can I skip a song?</h4>
        <p class="flow-text">Yes, and no. You can vote on skipping a song. You can click the blue skip button. When
            the
            counter hits 3, the song will be skipped. Admins and mods can skip songs without needing to vote, but
            please do
            not ask us to skip songs.</p>
        <h4>I added a song but I can't find it in the Playlist, where is it?</h4>
        <p class="flow-text">When you request a song to be added to a playlist, an admin or moderator first needs to
            review,
            edit and then either accept or deny that song.</p>
        <h4>How do I use emoji's in chat?</h4>
        <p class="flow-text">In chat, you can see emoji's by typing the ':' in chat and then a keyword or some
            letters of an
            emoji. That opens a dropdown box from where you can choose emoji's to put in chat. You can also just
            type it
            manually. You can find the full list of emoji's at <a href="http://emoji.codes/"
                                                                  target="_blank">www.emoji.codes</a></p>
        <h4>Is there an API?</h4>
        <p class="flow-text">No, sorry. But we will add one soon&trade;!</p>
        <h4>Are there chat commands?</h4>
        <p class="flow-text">Yes! Just type /commands or /help in chat and it will show you all of the available
            chat commands.</p>
    </div>
    {{> footer}}
</template>
