<template name="footer">
    <footer class="page-footer teal accent-4">
        <div class="container row">
            <div class="col l6 s12">
                <h5 class="white-text">Stay Connected</h5>
                <p class="grey-text text-lighten-4">Keep up with news and updates about Musare on social media!</p>
                <a href="https://www.facebook.com/MusareMusic" target="_blank" class="waves-effect waves-light btn blue darken-3">Facebook</a>
                <a href="https://twitter.com/musareapp" target="_blank" class="waves-effect waves-light btn light-blue accent-2">Twitter</a>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/faq">FAQ</a></li>
                    <li><a class="grey-text text-lighten-3" href="/terms">Terms</a></li>
                    <li><a class="grey-text text-lighten-3" href="/privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
               Copyright &copy; 2016 Musare
            </div>
        </div>
    </footer>
</template>
