<template name="footer">
    <footer>
        <p>Copyright © 2015 All Right Reserved</p>
        <a href="/faq" class="footerButtons" id="FAQButton">FAQ |</a>
        <a href="/terms" class="footerButtons" id="termsButton">Terms |</a>
        <a href="/privacy" class="footerButtons" id="privacyButton">Privacy |</a>
        <a href="/about" class="footerButtons" id="aboutButton">About |</a>
        <a href="/contact" class="footerButtons" id="contactButton">Contact</a>
        <p><a href="https://github.com/AkiraLaine/music-app" target="_blank"><i class="fa fa-github"></i></a></p>
    </footer>
</template>
