<template name="landing">
    <div class="layer-content">
        <h1 class="center-align">Musare</h1>
        <p class="flow-text">Musare is a modern, open-source music app that allows you to collaboratively listen to music in out genre specific stations.</p>
        <a href="/login" class="waves-effect waves-light btn">Login to Musare</a>
        <p>or</p>
        <a href="/" class="waves-effect waves-light btn">Continue without logging in</a>
    </div>
    <div class="album-art-row">
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
        <img src="http://c.directlyrics.com/img/upload/fall-out-boy-sixth-album-cover.jpg"/>
    </div>
</template>
