<template name="news">
    {{> header}}
    <main class="content-box row">
        <h3 class="black-text thin center">News</h3>
            {{#each articles}}
                <div class="card teal-text col m6 s12 l6 offset-m3 offset-l3">
                    <div class="card-content">
                        <span>{{title}}</span>
                        <hr>
                        <p class="flow-text" style="word-wrap:break-word;">
                            {{content}}
                        </p>
                    </div>
                    <div class="card-action">
                        <span>Posted by: {{author}}.</span><br>
                        <span>Created at: {{rtime time}}.</span>
                    </div>
                </div>
            {{/each}}
    </main>
    {{> footer}}
</template>
