<template name="news">
    {{> header}}
    <main class="content-box">
        <h3 class="black-text thin">News, Updates & Announcements</h3>
        <ul class="collection">
        <!--
        {{#each chat}}
        <li class="collection-item news-box">
            <span class="news-title">{{title}}</span>
            <hr>
            <p class="news-content">{{content}}</p>
            <p class="news-creator">Posted by: {{postBy}}</p>
            <p class="news-postTime">{{timePostedAgo}}. ({{timePostedDate}})</p>
        </li>
        {{/each}}
        -->

        <!-- TEMP HARDCODED NEWS ARTICLE, soon you can add/remove news from the admin panel -->
        <li class="collection-item news-box">
            <span class="news-title">Welcome To Musare 2.0</span>
            <hr>
            <p class="news-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus magna orci, tristique aliquam arcu ultricies non.
              <br />Vivamus iaculis leo lectus. In quis nunc rhoncus nulla hendrerit pellentesque in nec ipsum. Curabitur facilisis enim nulla, sit amet dapibus lacus aliquet ut. Integer lacinia pharetra semper.
              <br />Duis mattis varius egestas. Cras sit amet venenatis lacus. Curabitur ut maximus urna, vel pulvinar ex. WORKS!</p>
            <p class="news-creator">Posted by: Johand</p>
            <p class="news-postTime">5days ago. (5/01/2016)</p>
        </li>
        </ul>
    </main>
    {{> footer}}
</template>
