<template name="playlist">
    <input type="text" id="search-playlist" placeholder="Search for a song..."  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search playlist...'" />
    <ul id="playlist">
      {{#each playlist_songs}}
        <li class="pl-item">
            {{#if current}}<i class="fa fa-arrow-right"></i>{{/if}}
            <p style="float:right;padding-right:10px;font-weight:900">{{formatTime duration}}</p>
            <strong>{{title}}</strong>
            <p id="pl-artist">{{artist}}</p>
        </li>
      {{/each}}
    </ul>
</template>
