<template name="privateRoom">
    <header>
        <nav>
            <div class="nav-wrapper teal accent-4">
                <ul class="left hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons">home</i></a></li>
                    <li><a href="#add_song_modal" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Request a song" id="add-song-modal-button"><i class="material-icons">playlist_add</i></a></li>
                    <li><a href="#report_modal" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Flag a song" id="report-modal-button"><i class="material-icons">flag</i></a></li>
                    <li><a id="vote-skip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Vote to skip this song"><i class="material-icons left">skip_next</i>{{votes}}</a></li>
                    {{#if isAdmin}}
                        <li><a class='dropdown-button' data-activates='admin-dropdown'><i class="material-icons">control_point</i></a></li>
                    {{/if}}
                </ul>
                <span class="brand-logo center">{{privateRoomDisplayName}}</span>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" data-position="bottom" data-delay="50" data-tooltip="Playlist" id="playlist-slideout" data-activates="playlist-slide-out" class="tooltipped header-collapse"><i class="material-icons">queue_music</i></a></li>
                    <li><a href="#" data-position="bottom" data-delay="50" data-tooltip="Chat" id="chat-slideout" data-activates="chat-slide-out" class="tooltipped header-collapse"><i class="material-icons">chat</i></a></li>
                    <li><a href="#" data-position="bottom" data-delay="50" data-tooltip="Users" id="users-slideout" data-activates="users-slide-out" class="tooltipped header-collapse"><i class="material-icons">people</i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    {{> alerts}}
    <main id="room-content">
        <div class="container room-container">
            <div class="row">
                <div class="col s12 m10 l8 offset-l2 offset-m1" id="media-container">
                    <div class="video-container">
                        <div id="player"></div>
                    </div>
                </div>
                <div class="col s12 m10 l8 offset-l2 offset-m1">
                    <div class="row">
                        <div class="col s12 m12 l8">
                            <h4 id="time-display"><span id="time-elapsed"></span> / <span id="time-total"></span></h4>
                            <h3>{{{title}}}</h3>
                            <div class="row">
                                <form action="#" class="left col s4 m4 l4">
                                    <p class="range-field" style="margin-top: 0">
                                        <input type="range" id="volume_slider" min="0" max="100"/>
                                    </p>
                                </form>
                            </div>
                            <div class="seeker-bar-container white" id="preview-progress">
                                <div class="seeker-bar teal" style="width: 0%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Chat slideout-->
    <div id="chat-slide-out" class="side-nav room-slideout">
        <h5>Chat</h5>
        <ul class="chat-ul">
            {{#each globalChat}}
                {{#emojione}}
                    <li class="chat-message" style="line-height: 30px">
                        <span title="{{time}}" style="float: right; margin-top: 15px">{{rtime time}}</span>
                        <a style="text-decoration: none; font-size: 0.9em; height: 0.9em; font-weight: 500" href="/u/{{this.username}}" target="_blank"><span class="rank-{{this.rawrank}}">{{this.rank}}</span>{{this.username}}</a>
                        <p style="clear: both; line-height: 1.2em; margin-left: 13px; margin-bottom: 0; font-size: 1.2em">{{this.message}}</p>
                    </li>
                {{/emojione}}
                <div class="divider" style="margin-top: 15px;"></div>
            {{/each}}
        </ul>
        <div>
            <div class="row" id="chat-input-div">
                <div class="input-field col s12">
                    <input id="chat-message" type="text">
                    <label for="chat-message">Send a message</label>
                </div>
            </div>
            <a id="submit" class="waves-effect waves-light btn">Send</a>
        </div>
    </div>
    <!--Playlist slideout-->
    <div id="playlist-slide-out" class="side-nav room-slideout">
        <h5>Playlist</h5>

    </div>
    <div id="users-slide-out" class="side-nav room-slideout">
        <h5>Users In Room</h5>
        <ul>
            {{#each usersInRoom}}
                <li><a href=/u/{{this}} target="_blank">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>
    <!--Admin room controls-->
    <ul id='admin-dropdown' style="background-color: #00bfa5 !important; display: none">
        <li><a id="pause"><i class="material-icons">pause</i></a></li>
        <li><a id="skip"><i class="material-icons">skip_next</i></a></li>
        <li><a id="shuffle"><i class="material-icons">shuffle</i></a></li>
        <li><a id="lock"><i class="material-icons">lock_outline</i></a></li>
    </ul>
    <script>
        $(".dropdown-button").dropdown({
            belowOrigin: true
        });
        $('select').material_select();
        $("#chat-slideout").sideNav({
            menuWidth: 350,
            edge: 'right'
        });
        $("#playlist-slideout").sideNav({
            menuWidth: 350,
            edge: 'right'
        });
        $("#users-slideout").sideNav({
            menuWidth: 350,
            edge: 'right'
        });
        $('.tooltipped').tooltip({delay: 50});
    </script>
</template>
