<template name="profile">
    {{> alerts}}
    <div class="landing">
      {{> header}}
      <div class="row">
        {{#if loaded}}
            {{> avatar userId=userId shape="circle" class="profile-img" initials=initials}}
            <h1 id="profile-name">{{username}}</h1>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Basic Info</div>
                    <div class="panel-body">
                        <ul>
                            {{#if currentUser}}
                                <a href="#" id="edit-name" class="profile-action">Edit</a>
                                <a href="#" id="cancel-edit" class="profile-action" style="display:none;">Cancel</a>
                            {{/if}}
                            <li class="user-stat" id="name">Name: {{real_name}}</li>
                            <div id="name-div" style="display: none">
                                <input type="text" id="input-name"><button id="submit-name" class="btn btn-primary btn-sm">Submit</button>
                            </div>
                            {{#if currentUser}}
                                <a href="#" id="edit-username" class="profile-action">Edit</a>
                                <a href="#" id="cancel-username" class="profile-action" style="display:none;">Cancel</a>
                            {{/if}}
                            <li class="user-stat" id="username">Username: {{username}}</li>
                            <div id="username-div" style="display: none">
                                <input type="text" id="input-username"><button id="submit-username" class="btn btn-primary btn-sm">Submit</button>
                            </div>
                            <li class="user-stat">Joined: {{first_joined}}</li>
                            <li class="user-stat">Rank: {{rank}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Liked Songs</div>
                    <div class="panel-body song-panel">
                        <ul>
                            {{#each likedSongs}}
                                <li>
                                    <p class="song-panel-room">{{room}}</p>
                                    <h4>{{title}}</h4>
                                    <h5>{{artist}}</h5>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">Disliked Songs</div>
                    <div class="panel-body song-panel">
                        <ul>
                            {{#each dislikedSongs}}
                                <li>{{title}} - {{artist}} - {{room}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        {{else}}
            {{> loading}}
        {{/if}}
      </div>
        {{> bubbles}}
    </div>
</template>
