<template name="register">
    {{> header}}
    <main>
        <div class="container row">
            <h1>Register</h1>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                {{> reCAPTCHA}}
                <button class="btn waves-effect waves-light register" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </main>
    {{> footer}}
</template>
