<template name="register">
    {{> alerts}}
    <div class="landing">
        {{> header}}
          <div class="col s8">
            <h1>Sign Up</h1>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input placeholder="Username" id="user_name" type="text" class="validate">
                    <label for="first_name">Username</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="email" type="email" class="validate">
                    <label for="last_name">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
              <!--{{> reCAPTCHA}}
                <p>By registering, you agree to the Terms and Conditions and Privacy Policy.</p>
                <button type="submit">Sign Up</button>
            <button class="btn-social" id="github-login"><i class="fa fa-github pull-left"></i>Signup with Github</button>-->
        </div>
</template>
