<template name="settings">
    {{> header}}
    <div class="row">
        <h1 id="profile-name">{{username}}</h1>
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Basic Info</div>
                <div class="panel-body">
                    <h3 class="text text-warning text-center">Unfortunately, there is currently nothing for you to edit.</h3>
                </div>
            </div>
        </div>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</template>