<template name="settings">
    {{> header}}
    <div class="row">
        <h1 id="profile-name">{{username}}</h1>
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Basic Info</div>
                <div class="panel-body">
                    <!--h3 class="text text-warning text-center">Unfortunately, there is currently nothing for you to edit.</h3-->
                    <div class="checkbox">
                        <input class="checkbox-box" type="checkbox" id="showRating">
                        <label for="showRating" class="settings-label">
                            Show your likes/dislikes on your public profile
                        </label>
                    </div>
                    <button class="btn btn-warning btn-block" id="save-settings">Save</button>
                </div>
            </div>
        </div>
    </div>
    {{> bubbles}}
</template>