<template name="settings">
    {{> header}}
    <div class="row hack-container">
        <div class="col l6 m6 s12 offset-l3 offset-m3">
            <h1 id="profile-name" class="black-text thin">Settings</h1>
            <h4 class="thin">Liked & disliked songs</h4>
            <p>
                <input type="checkbox" id="showRating"/>
                <label for="showRating">Show liked and disliked song on profile?</label>
            </p>
            <button class="btn" id="save-settings">Save</button>
            <h4 class="thin">Change Password</h4>
            <div class="input-field">
                <input type="password" id="old-password" class="validate">
                <label for="old-password">Old Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="new-password" class="validate">
                <label for="new-password">New Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="confirm-password" class="validate">
                <label for="confirm-password">Re-enter New Password</label>
            </div>
            <button class="btn" id="change-password">Change Password</button>
            <h4 class="thin">Delete Account</h4>
            <button class="btn red darken-4" id="delete-account">Delete</button>
        </div>
    </div>
</template>
