<template name="team">
    {{> header}}
    <main class="content-box row hack-container">
        <div class="col s12 l4 m8 offset-l4 offset-m2">
            <h3 class="black-text thin">The Team</h3>
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="https://avatars2.githubusercontent.com/u/9784561?v=3&s=460" alt="Kristian's Profile Picture" class="circle">
                    <span class="title">Kristian Vos</span>
                    <p>CEO & Founder</p>
                    <div class="contact-details">
                        <i class="material-icons">my_location</i> <span>The Netherlands</span>
                    </div>
                    <div class="contact-details">
                        <i class="material-icons">email</i> <span>KrisVos130@gmail.com</span>
                    </div>
                </li>
                <li class="collection-item avatar">
                    <img src="https://avatars2.githubusercontent.com/u/11958359?v=3&s=400" alt="Akira's Profile Picture" class="circle">
                    <span class="title">Akira Laine</span>
                    <p>Founder</p>
                    <div class="contact-details">
                        <i class="material-icons">my_location</i> <span>New Caledonia</span>
                    </div>
                    <div class="contact-details">
                        <i class="material-icons">email</i> <span>AkiraLaine@outlook.com</span>
                    </div>
                </li>
                <li class="collection-item">
                    <p><u>Old members</u></p>
                    <p>Wesley McCaan - Developer<br>Johannes Andersen - Developer<br>Nex - CEO</p>
                </li>
            </ul>
        </div>
    </main>
    {{> footer}}
</template>
