<template name="team">
    {{> header}}
    <main class="content-box row hack-container">
        <div class="col s12 l4 m8 offset-l4 offset-m2">
            <h3 class="black-text thin">The Team</h3>
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="https://avatars0.githubusercontent.com/u/11958359?v=3&s=460" alt="Akira's Profile Picture"
                         class="circle">
                    <span class="title">Akira Laine</span>
                    <p>Co Founder, Lead Developer & Whovian</p>
                    <div class="contact-details">
                        <i class="material-icons">my_location</i> <span>Noumea, New Caledonia</span>
                    </div>
                    <div class="contact-details">
                        <i class="material-icons">email</i> <span>akira_laine@outlook.com</span>
                    </div>
                </li>
                <li class="collection-item avatar">
                    <img src="https://avatars2.githubusercontent.com/u/9784561?v=3&s=460" alt="Kris' Profile Picture"
                         class="circle">
                    <span class="title">Kristian Vos</span>
                    <p>Co Founder, Lead Developer & Fox</p>
                    <div class="contact-details">
                        <i class="material-icons">my_location</i> <span>Haarlem, The Netherlands</span>
                    </div>
                    <div class="contact-details">
                        <i class="material-icons">email</i> <span>krisvos130@gmail.com</span>
                    </div>
                </li>
                <li class="collection-item avatar">
                    <img src="https://avatars2.githubusercontent.com/u/6952369?v=3&s=460" alt="Johand's Profile Picture"
                         class="circle">
                    <span class="title">Johannes Andersen</span>
                    <p>Co Founder, <span title="Chief business officer">CBO</span> & Developer</p>
                    <div class="contact-details">
                        <i class="material-icons">my_location</i> <span>Fredrikstad, Norway</span>
                    </div>
                    <div class="contact-details">
                        <i class="material-icons">email</i> <span>Johand@Johand.me</span>
                    </div>
                </li>
                <li class="collection-item avatar">
                    <img src="https://avatars0.githubusercontent.com/u/1158013?v=3&s=460" alt="Wesley's Profile Picture"
                         class="circle">
                    <span class="title">Wesley McCaan</span>
                    <p>Core Developer</p>
                    <div class="contact-details">
                        <i class="material-icons">my_location</i> <span>Colorado Springs, CA</span>
                    </div>
                    <!--<div class="contact-details">-->
                        <!--<i class="material-icons">email</i> <span></span>-->
                    <!--</div>-->
                </li>
            </ul>
        </div>
    </main>
    {{> footer}}
</template>
