body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

main {
    flex: 1 0 auto;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

.brand-logo {
    margin-left: 10px;
}

.feedback-btn{
    margin-left: 10px
}

.scroll-fix{
    margin-right: 20px;
}

.avatar{
    width: auto;
    height: auto;
}

.contact-details{
    margin-bottom: 5px;
}

.contact-details .material-icons{
    float: left;
}

.musare {
    background-color: rgb(107, 197, 164) !important;
}

.range-field > input[type="range"] {
    border-color: #C2C0C2;
    border-right: 0;
    border-left: 0;
}

.table-right-td {
     text-align: right;
 }

.table-right-th {
    width: 1px;
}

.hide-preview {
    padding-bottom: 0 !important;
}

#song-preview {
    width: 210px;
    height: 210px;
    min-height: 210px;
    min-width: 210px;
    max-height: 210px;
    max-width: 210px;
}

#previewPlayerContainer {
    margin-bottom: 20px;
}


.seeker-bar {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.seeker-bar-container {
    position: relative;
    height: 5px;
    display: block;
    width: 100%;
    overflow: hidden;

}

#preview-time {
    margin-top: -9px;
}