body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

main {
    flex: 1 0 auto;
}

main h3{
    margin-left: 10px;
}

main h4.thin{
    margin-left: 10px;
}

main p.flow-text{
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

.brand-logo {
    margin-left: 10px;
}

.feedback-btn{
    margin-left: 10px
}

.scroll-fix{
    margin-right: 20px;
}

.avatar{
    width: auto;
    height: auto;
}

.contact-details{
    margin-bottom: 5px;
}

.contact-details .material-icons{
    float: left;
}

.user-num{
    font-size: 1.6em !important;
}

.card i{
    line-height: inherit;
}

.card-content p i{
    float: left;
}

.register{
    margin: 10px 0 0 0px;
}

.social{
    margin: 0px 0 10px 0px;
    width: 155px;
}

.login-btn{
    margin: 10px 0 0 10px;
}

.upvote{
    float: right;
    color: #00C853;
    cursor: pointer;
}

.upvote-text{
    display: inline;
    float: right;
    font-size: 1.5em;
    margin-top: 3px;
    margin-right: 10px;
    color: white;
}

.delete{
    float: right;
    margin-top: -3em;
    margin-right: -2em;
}
