body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

main {
    flex: 1 0 auto;
}

main h4.thin{
    margin-left: 10px;
}

main p.flow-text{
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

textarea{
    color: white;
}

.brand-logo {
    margin-left: 10px;
    font-weight: 300 !important;
}

.feedback-btn{
    margin-left: 10px
}

.scroll-fix{
    margin-right: 20px;
}

.avatar{
    width: auto;
    height: auto;
}

.contact-details{
    margin-bottom: 5px;
}

.contact-details .material-icons{
    float: left;
}

.user-num{
    font-size: 1.6em !important;
}

.card i{
    line-height: inherit;
    float: right;
}

.card-content div{
    float: right;
    line-height: 2;
}

.acceptTerms{
    margin-left: 1px !important;
}

.register{
    margin: 10px 0 0 0px;
}

.social{
    margin: 0px 0 10px 0px;
    width: 155px;
}

.login-btn{
    margin: 10px 0 0 10px;
}

.upvote{
    float: right;
    color: #00C853;
    cursor: pointer;
    line-height: initial !important;
}

.upvote-text{
    display: inline;
    float: right;
    font-size: 1.5em;
    margin-top: -3px;
    margin-right: 10px;
    color: white;
}

.float-btn{
    position: initial;
    float: right;
    margin-top: -3em;
    margin-right: -2em;
}

.character-counter{
    color: white;
}

.fixed-action-btn.horizontal ul{
    right: 45px;
}

.musare {
    background-color: rgb(107, 197, 164) !important;
}

.range-field > input[type="range"] {
    border-color: #C2C0C2;
    border-right: 0;
    border-left: 0;
}

.table-right-td {
     text-align: right;
 }

.table-right-th {
    width: 1px;
}

.hide-preview {
    padding-bottom: 0 !important;
}

#song-preview {
    width: 210px;
    height: 210px;
    min-height: 210px;
    min-width: 210px;
    max-height: 210px;
    max-width: 210px;
}

#previewPlayerContainer {
    margin-bottom: 20px;
}

.seeker-bar {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.seeker-bar-container {
    position: relative;
    height: 5px;
    display: block;
    width: 100%;
    overflow: hidden;
}

#preview-time {
    margin-top: -9px;
}

#desc_text{
    color: black;
}

.hack-container{
    margin-left: 0;
    margin-right: 0;
    /* Weird hack... No clue why this is needed but it is.*/
}

#room-content {
  padding-top: 15px;
}

#thumbs_up, #thumbs_down {
  color: white;
  cursor: pointer;
}

#thumbs_up:hover, .liked {
  color: #00bfa5 !important;
}

#thumbs_down:hover, .disliked {
  color: #e53935 !important;
}

.feedback-message{
    word-wrap: break-word;
}

.brand-logo{
	font-weight:900;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.video-import-thumbnail {
    position: absolute;
    height: 150px;
    width: 267px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.youtube-search-result-li {
    height: 170px;
}

.video-import-text {
    margin-left: 225px !important;
}

.layer-content{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: white;
}

.layer-content a{
    background-color: #616161;
}

.album-art-row img{
    width: 10%;
    float: left;
    height: 10%;
}

.container {
    flex: 1 0 auto;
}

.alert{
    font-size: 1.3em;
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: #009C87 !important;
    color: white;
}

.alert i{
    vertical-align: middle;
}
