<template name="about">
    <div class="landing">
	    {{> header}}
        <div class="row">
            <div class="about col-md-8 col-md-offset-2">
                <h2>About</h2>
                <p>Musare is a modern, collaborative, open-source Music App.</p>
                <p>Listen to music in one of the various stations, specific to one genre</p>
                <p>Built by <a href="https://github.com/AkiraLaine">@AkiraLaine</a>, <a href="https://github.com/KrisVos130">@KrisVos130</a> and <a href="https://github.com/johand199">@johand199</a></p>
            </div>
        </div>
    </div>
</template>
