<template name="admin">
    <div class="landing row">
        {{#each queues}}
            <div class="col-md-8 col-md-offset-2 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{type}} review queue</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Artist(s)</th>
                                    <th>Type</th>
                                    <th>Id</th>
                                    <th>Preview</th>
                                    <th>Add</th>
                                    <th colspan="10">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each songs}}
                                    <tr>
                                        <th scope="row">{{title}}</th>
                                        <td>{{artist}}</td>
                                        <td>{{type}}</td>
                                        <td>{{id}}</td>
                                        <td class="column-small"><button class="btn btn-primary">Preview</button></td>
                                        <td class="column-small"><button class="btn btn-success"><i class="fa fa-check-circle"></i></button></td>
                                        <td class="column-small"><button class="btn btn-danger"><i class="fa fa-ban"></i></button></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/each}}

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</template>