<template name="admin">
    <div class="landing">

        <form>
            <label for="genre">Song Genre</label>
            <select name="genre" id="genre">
                {{#each rooms}}
                    <option name="{{type}}" id="{{type}}">{{type}}</option>
                {{/each}}
                <!--option name="nightcore" id="nightcore">Nightcore</option-->
            </select>
            <label for="type">Song Type</label>
            <select name="type" id="type">
                <option name="youtube" id="youtube">YouTube</option>
                <option name="soundcloud" id="soundcloud">SoundCloud</option>
            </select>
            <label for="id">Song ID</label>
            <input name="id" id="id" type="text" />
            <label for="id">Song Artist</label>
            <input name="artist" id="artist" type="text" />
            <label for="title">Song Title</label>
            <input name="title" id="title" type="text" />
            <button type="submit">Submit</button>
        </form>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</template>