<template name="dashboard">
    <div class="landing">
        <!-- <i class="fa fa-power-off logout" tooltip="Logout"></i> -->
        <div class="row">
           {{#each rooms}}
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="station">
                      <h3>{{type}}</h3>
                      <h5>Song</h5>
                      <a href="/{{type}}" class="station_link"></a>
                  </div>
              </div>
           {{/each}}
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div id="croom_container">
                <label for="croom" id="croom_label">Room Name:</label>
                <div class="input-group">
                    <input type="text" id="croom" name="croom" required />
                </div>
                <button class="btn btn-warning btn-block" id="croom_create">Create</button>
            </div>
        </div>
        <div class="col-md-4"></div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <script type="text/javascript">
        window.doorbellOptions = {
            appKey: 'v2Gu14c8s9HgBsAFCXNWIm2vlk11N12Plt2Wu5k2MbQIkM1Ao6kOTCbfN95ElEVM',
            hideEmail: true
        };
        (function(d, t) {
            var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/2408?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
        }(document, 'script'));
    </script>
</template>
