<template name="home">
    <div class="homepage">
        {{> header}}
        {{#if currentUser}}
        {{else}}
            <div id="loginregistercontainer">
                <div id="login-view">
                    {{> login}}
                </div>
                <div id="register-view" style="display:none">
                    {{> register}}
                </div>
            </div>
        {{/if}}
        {{> dashboard}}
        <div class="push"></div>
    </div>
    {{> footer}}
</template>
