<template name="home">
    {{#if currentUser}}
    <div id="dashboard">
        {{> dashboard}}
        {{> footer}}
    </div>
    {{else}}
    <div class="loginlanding">
        <div id="login-view">
            {{> login}}
            {{> footer}}
        </div>
        <div id="register-view" style="display:none">
            {{> register}}
            {{> footer}}
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    {{/if}}
</template>
