<template name="login">
  <div class="landing">
    {{> header}}
    <div class="container">
        <h1>Login</h1>
        <form class="form">
            <input type="text" autocorrect="off" name="loginUsername" placeholder="Enter your username" onfocus="this.placeholder = ''" onblur="this.placeholder='Enter your username'" required/>
            <input type="password" autocorrect="off" name="loginPassword" placeholder="Enter your password" onfocus="this.placeholder = ''" onblur="this.placeholder='Enter your password'" required/>
            <button type="submit">Login</button>
        </form>
        <button class="btn-social" id="github-login"><i class="fa fa-github pull-left"></i>Login with Github</button>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</template>
