<template name="profile">
    {{> header}}
    <div class="landing row">
        {{#if loaded}}
            <h1 id="profile-name">{{username}}</h1>

            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{username}}</div>
                    <div class="panel-body">
                        <ul>
                            <li class="user-stat"><b>Joined: </b>{{first_joined}}</li>
                            <li class="user-stat"><b>Rank: </b>{{rank}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {{else}}
            {{> loading}}
        {{/if}}
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</template>