<template name="room">
    <div class="landing">
        <h1 class="room-name">{{{type}}}</h1>
        <h2 class="room-title">{{{title}}}</h2>
        <h2 class="room-artist">{{{artist}}}</h2>
        <div id="seeker-bar"></div>
        <input type="text" id="song-input">
        <button type="button" id="search-song" class="button">Search</button>
        <div id="song-results"></div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</template>
